<!-- výchozí šablona pro <?= basename(__FILE__) ?>-->

    <meta charset="<?= $charset ?>" />

    <title><?= $title ?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="<?= $favicon ?>" />
    <!-- <link
        rel="apple-touch-icon"
        sizes="76x76"
        href="./assets/img/apple-icon.png"
    /> -->
    <?php

    foreach ($styles as $style) {
    ?>
        <link rel="stylesheet" href="<?= $style ?>" />
    <?php
    }

    ?>
    
    
    <?php
    foreach ($scripts as $script) {
    ?>
        <script src="<?= $script ?>" charset="utf-8" type="text/javascript"></script>
    <?php
    }

    $this->head_includes();
    /******************* načtu skript aplikace, když existuje */

    $this->add_app_script();

    ?>
  
</head>
