<!-- výchozí šablona pro <?= basename(__FILE__) ?>-->
<nav>
    <ul>
    
<?php

foreach (\pruga\get_index_paths($this->__pages_dir) as $route) {
    $route = dirname($route);
    echo "\t\t<li><a href='" . $route . "'>link to $route</a></li>\n";

    // $index_file = \pruga\path($this->__pages_dir, $route, INDEX_HTML); 
    // if (is_file($index_file)) {
    //     $label = $route->route ? $route->route : "home";
    //     echo "<li><a href='" . $route->route . "'>link to $label</a></li>";
    // }
    // else {
    //     $label = $route->route ? $route->route : "home";
    //     echo "<li><i>nejestvuje odkaz do <b>$label</b></i></li>";
    // }
}

// $jsFile = $this->get_file('app.js');
//     $nimFile = $this->get_file('app.nim');

//     // $appFile = $jsFile ?? $nimFile;
//     $appFile = $jsFile == false ? $nimFile : $jsFile;


//     echo "<h1>appfile je $appFile</h1>";
//     echo "<h1>jsFile je $jsFile</h1>";
//     echo "<h1>nimFile je $nimFile</h1>";
?>

    </ul>
</nav>
